#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
  padding: 0;
}

.header {
  background: darkorchid;
  color: white;
  text-align: center;
  padding: 20px;
}

.header nav ul {
  list-style: none;
  padding: 0;
}

.header nav ul li {
  display: inline;
  margin: 0 10px;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
}

.section {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.section h2 {
  color: #a2c541;
}

.footer {
  background: #5a4545;
  color: white;
  text-align: center;
  padding: 10px;
}
